body {
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Segoe UI Light", "Segoe UI", Roboto, serif;
    font-weight: 300;
    font-variant-numeric: slashed-zero tabular-nums;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

.input-field, .helper-text, .input-field label, input {
    font-size: 1.5rem !important;
}

nav {
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    position: sticky;
    top: 0;
    z-index: 99;
}

nav a.brand-logo {
    padding: 0 40px;
}

nav ul li a {
    padding: 0 20px;
    font-size: 1.5rem;
}

.active a {
    border-top: solid thin white;
}

label {
    font-size: 1.5rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.container ul {
    border: none;
}

li.collection-item {
    transition-property: background-color;
    transition-duration: 250ms;
}

li.collection-item:hover {
    background-color: #e0e0e0;
}

.ui-keyboard {
    transform-origin: bottom left;
    transform: scale(2);
}

#logo {
    margin: 7px 0;
}

span.badge.new {
    margin: 0 14px;
    font-size: 1.2rem;
    height: 25px;
    min-width: 75px;
}

.container::-webkit-scrollbar-track {
    background-color: transparent;
}

.container::-webkit-scrollbar {
    width: 40px;
    background-color: transparent;
    opacity: .5;
    position: absolute;
    right: 0;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgrey;
    padding: 1em;
    margin: 1em;
}

.container {
    max-height: 534px;
    overflow-scrolling: auto;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-style: auto;
}

body {
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
}

.stats-wrapper {
    margin: 2em;
}

.stats-wrapper:first-child {
    order: 1;
}

.stats-wrapper:last-child {
    order: 3;
}

.svg-wrapper {
    order: 2;
    flex-grow: 2;
    align-self: center;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

#saw {
    display: block;
    margin: auto;
    align-self: center;
}

input:disabled {
    color: black !important;
}

#states-collection .badge {
    min-width: 16em;
}