{% extends "layout.html" %}
{% block content %}
    <script>
        $('#params-link').addClass('active');
    </script>
    <div class="container">
        <h3 class="header">Parametry produkcji</h3>
        <form action="#" method="POST" autocomplete="off">
            <div class="row">
                <div class="input-field col s3">
                    <input id="slatLength"
                           name="slatLength"
                           class="validate"
                           type="number"
                           min="370"
                           max="2000"
                           value="{{ data.slatLength }}"
                           autocomplete="off"
                           required
                    >
                    <label for="slatLength">Długość lamelki</label>
                    <span class="helper-text" >370mm - 2000mm</span>
                </div>
                <div class="input-field col s3">
                    <input id="slatWidth"
                           name="slatWidth"
                           class="validate"
                           type="number"
                           min="10"
                           max="120"
                           value="{{ data.slatWidth }}"
                           autocomplete="off"
                           required
                    >
                    <label for="slatWidth">Szerokość lamelki</label>
                    <span class="helper-text" >10mm - 120mm</span>
                </div>
                <div class="input-field col s3">
                    <input id="slatHeight"
                           name="slatHeight"
                           class="validate"
                           type="number"
                           min="10"
                           max="80"
                           value="{{ data.slatHeight }}"
                           autocomplete="off"
                           required
                    >
                    <label for="slatHeight">Wysokość lamelki</label>
                    <span class="helper-text" >10mm - 80mm</span>
                </div>
                <div class="input-field col s3">
                    <input id="slatsPerBoard"
                           name="slatsPerBoard"
                           class="validate"
                           type="number"
                           min="2"
                           max="190"
                           value="{{ data.slatsPerBoard }}"
                           autocomplete="off"
                           required
                    >
                    <label for="slatsPerBoard">Lamelki / Płyta</label>
                    <span class="helper-text" >2szt. - 190szt.</span>
                </div>
            </div>
            <div class="row right-align">
                <button class="btn-large red waves-effect waves-light" type="button" name="action" onclick="location.reload()">
                    <span>Anuluj</span>
                    <i class="material-icons left">undo</i>
                </button>
                <button class="btn-large waves-effect waves-light" type="submit" name="action">
                    <span>Zastosuj</span>
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>

        <div class="row">
            <div class="input-field col s4">
                <input id="boardWidth" value="{{ data.boardWidth }}" disabled>
{#                <label for="boardWidth">Szerokość płyty</label>#}
                <span class="helper-text" >Szerokość płyty</span>
            </div>
            <div class="input-field col s4">
                <input id="boardsPerRow" value="{{ data.boardsPerRow }}" disabled>
{#                <label for="boardsPerRow">Płyty / Rząd</label>#}
                <span class="helper-text" >Płyty / Rząd</span>
            </div>
            <div class="input-field col s4">
                <input id="rowsPerSet" value="{{ data.rowsPerSet }}" disabled>
{#                <label for="rowsPerSet">Rzędy / Seria</label>#}
                <span class="helper-text" >Rzędy / Seria</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ url_for( 'static', filename = 'scripts/keyboard.js' ) }}"></script>
{% endblock %}