{% extends "layout.html" %}
{% block content %}
    <script>
        $('#states-link').addClass('active');
    </script>
    <div class="container">
        <h3 class="header">Stan maszyny</h3>
        <div class="row">
            <div class="input-field col s6">
                <span class="helper-text">Stan układarki</span>
                <select id="viceState" disabled>
                    <option value="0">Wolna</option>
                    <option value="1">Upuszczanie</option>
                    <option value="2">Kompresowanie</option>
                    <option value="3">Skompresowana</option>
                    <option value="4">Dekompresowanie</option>
                    <option value="5">Rozładowywanie</option>
                </select>
            </div>
            <div class="input-field col s6">
                <span class="helper-text">Stan prasy</span>
                <select id="pressState" disabled>
                    <option value="0">Wolna</option>
                    <option value="1">Ładowanie</option>
                    <option value="2">Kompresowanie</option>
                    <option value="3">Skompresowana</option>
                    <option value="4">Dekompresowanie</option>
                    <option value="5">Rozładowywanie</option>
                </select>
            </div>
        </div>
        <ul class="collection">
            <li class="collection-item">
                <span>Lamelki</span>
                <span id="slatsPerBoard" class="badge secondary-content new purple" data-badge-caption=""></span>
                <span class="secondary-content">/</span>
                <span id='currentSlat' class="badge secondary-content new green" data-badge-caption=""></span>
            </li>
            <li class="collection-item">
                <span>Płyty</span>
                <span id="boardsPerRow" class="badge secondary-content new orange" data-badge-caption=""></span>
                <span class="secondary-content">/</span>
                <span id='currentBoard' class="badge secondary-content new purple" data-badge-caption=""></span>
            </li>
            <li class="collection-item">
                <span>Rzędy</span>
                <span id="rowsPerSet" class="badge secondary-content new pink" data-badge-caption=""></span>
                <span class="secondary-content">/</span>
                <span id='currentRow' class="badge secondary-content new orange" data-badge-caption=""></span>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="{{ url_for( 'static', filename = 'scripts/updater.js' ) }}"></script>
    <script>
        $( () => {
            $('select').formSelect();
            getStatesData();
        } );
    </script>
{% endblock %}