{% extends "layout.html" %}
{% block content %}
    <style>
        .container {
            margin-left: 255px;
        }
    </style>
    <script>
        $('#times-link').addClass('active');
    </script>
    <div class="container">
        <h3 class="header">Ustawienia prasowania</h3>
        <form action="#" method="POST" autocomplete="off">
            <div class="row">
                <div class="input-field col s6">
                    <input id="viceCompressedDuration"
                           name="viceCompressedDuration"
                           class="validate"
                           type="number"
                           min="5"
                           max="300"
                           value="{{ data.viceCompressedDuration }}"
                           autocomplete="off"
                           required
                    >
                    <label for="viceCompressedDuration">Czas prasowania - Układarka</label>
                    <span class="helper-text" >5s - 300s</span>
                </div>
                <div class="input-field col s6">
                    <input id="pressCompressedDuration"
                           name="pressCompressedDuration"
                           class="validate"
                           type="number"
                           min="10"
                           max="120"
                           value="{{ data.pressCompressedDuration }}"
                           autocomplete="off"
                           required
                    >
                    <label for="pressCompressedDuration">Czas prasowania - Prasa</label>
                    <span class="helper-text" >30s - 600s</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="pressTopTargetPressure"
                           name="pressTopTragetPressure"
                           class="validate"
                           type="number"
                           min="0"
                           max="250"
                           value="{{ data.pressTopTargetPressure }}"
                           autocomplete="off"
                           required
                    >
                    <label for="pressTopTargetPressure">Prasa góra - docelowe ciśnienie</label>
                    <span class="helper-text">0bar - 250bar</span>
                </div>
                <div class="input-field col s6">
                    <input id="pressSideTargetPressure"
                           name="pressSideTragetPressure"
                           class="validate"
                           type="number"
                           min="0"
                           max="250"
                           value="{{ data.pressSideTargetPressure }}"
                           autocomplete="off"
                           required
                    >
                    <label for="pressSideTargetPressure">Prasa bok - docelowe ciśnienie</label>
                    <span class="helper-text">0bar - 250bar</span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="pumpTogglePressureThreshold"
                           name="pumpTogglePressureThreshold"
                           class="validate"
                           type="number"
                           min="0"
                           max="250"
                           value="{{ data.pumpTogglePressureThreshold }}"
                           autocomplete="off"
                           required
                    >
                    <label for="pumpTogglePressureThreshold">Ciśnienie przełączenia pompy</label>
                    <span class="helper-text">0bar - 250bar</span>
                </div>
                <div class="input-field col s6">
                    <input id="pressLoosenDuration"
                           name="pressLoosenDuration"
                           class="validate"
                           type="number"
                           min="0"
                           max="3000"
                           value="{{ data.pressLoosenDuration }}"
                           autocomplete="off"
                           required
                    >
                    <label for="pressLoosenDuration">Czas poluzowania</label>
                    <span class="helper-text">0ms - 3000ms</span>
                </div>
            </div>

            <div class="row right-align">
                <button class="btn-large red waves-effect waves-light" type="button" name="action" onclick="location.reload()">
                    <span>Anuluj</span>
                    <i class="material-icons left">undo</i>
                </button>
                <button class="btn-large waves-effect waves-light" type="submit" name="action">
                    <span>Zastosuj</span>
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ url_for( 'static', filename = 'scripts/keyboard.js' ) }}"></script>
{% endblock %}